/* Libre Caslon Text */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/libre-caslon-text-v5-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/libre-caslon-text-v5-latin-700.woff2') format('woff2');
}

/* Manrope */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url('../fonts/manrope-v20-latin-regular.woff2') format('woff2');
}

/* Shippori Mincho */
@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url('../fonts/shippori-mincho-v17-latin-regular.woff2') format('woff2');
}

/* Material Symbols Outlined */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/material-symbols-outlined.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;